[submodule "src/ntt"]
	path = src/ntt
	url = https://github.com/cisec-su/TP-NTT.git
[submodule "model"]
	path = model
	url = https://github.com/cisec-su/FHE-py.git
[submodule "modmul-hdl"]
	path = modmul-hdl
	url = https://github.com/cisec-su/modmul-hdl.git
